.container {
    position: relative;
    max-height: 485px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    overflow-y: auto;
}

.table {
    margin-top: 150px;
}

.tBody td {
    text-align: left;
}
