.container {
    position: relative;
    max-height: 375px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    overflow-y: auto;
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tBody td {
    text-align: left;
}
