.navBar {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-right: 70px}

.link{

  }
a {
    text-decoration: none;
    color: white;
    font-weight: 500}

a:hover {
      color: navy;
      cursor: pointer;
    }

.active{
    color: navy;
  }
